<h2>--> Gamer Go <--</h2>
  <h2>Welcome <%= @user.name%>!</h2>
  
  <p>
    <h3>What would you like to do today?</h3>
    <br>
    <ul>
      <li><a href="/games/new">Add a New Game to the library</a></li>
      <li><a href="/games">See all of the games</a></li>
    </ul>
  </p>
  