<h2>--> Gamer Go <--</h2>

<h3>New Game:</h3>

<form action="/games" method="POST">
  <p>Name: <input type="text" name="name"></p>
  <p>genre: <input type="text" name="genre"></p>
  <p>notes: <input type="text" name="notes"></p>
  <button type="submit" value="submit">Add game</button>
</form>