<div class="container">
  <header><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/19/Gamer.jpg/640px-Gamer.jpg" class="img-responsive main-image"></header>
  <div class="col-md-8 col-md-offset-2">
    <h1>Gamer Go</h1>

    <div class="content">
      <p>Welcome to Gamer Go, a game library where you can share and discover new games on all different platforms. All games are submitted and reviewed by other gamers. Feel free to browse and add games of your own!</p>
    </div>

    <div class="sidebar">
      <h3>Sign Up or Log In here:</h3>
      <ul>
        <li> <a href="/signup">Sign Up</a> </li>
        <li> <a href="/login">Log In</a> </li>
      </ul>
    </div>

  </div>
</div>
